<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Lezzetin Yeni Adresi
                                </h1>
                                <p>
                                    Geleneksel Türk mutfağının en özel tatlarını sizlerle buluşturuyoruz. Taptaze malzemelerle hazırlanan yemeklerimizle damağınıza hitap ediyoruz. Kaliteli servis, eşsiz lezzet!
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Hemen Sipariş Ver
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Sıcak ve Taze Ürünler
                                </h1>
                                <p>
                                    Mutfaktan çıkan her tabak, özenle ve hijyen kurallarına uygun olarak hazırlanır. Ev yapımı gibi taze ve sıcak lezzetler için doğru adrestesiniz.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Menüyü İncele
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Ailenizle Keyifli Anlar
                                </h1>
                                <p>
                                    Sevdiklerinizle birlikte güzel vakit geçirebileceğiniz, samimi ve huzurlu bir ortam sunuyoruz. Restoranımızda hem damak zevkinize hem gönlünüze hitap ediyoruz.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Rezervasyon Yap
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</section>
</div>